:root {
    --fz-heading: 32px;
    --green: #00ab44;
    --purple: #2f293ae8;
    --secondary: #8892b0;
    --primary: #111111;
    --light_green: #3adb282f;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
}
