:root {
    --fz-heading: 32px;
    --white: #ccd6f6;
    --orange: #aeffd8;
    --badge: #2f293ae8;
    --secondary: #8892b0;
    --primary: #211e25;
    --light_orange: #ff8c001e;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
}
